# Kiểm tra dữ liệu gốc (EDA)

In [1]:
import pandas as pd
df = pd.read_csv('bills.csv')

In [2]:
df.isnull().sum()

id                                     0
customer_id                            0
master_id                            150
country_id                           308
summary_grand_total                    0
summary_discount_money                 0
summary_xto_money                      0
summary_ship_fee_phi_giao_hang         0
to_user_location_province_id          28
to_user_relationship_id              245
to_user_occasion_id                  177
to_user_relative_id                  739
to_user_date_ngay_giao_hang            0
create_info_created_ngay_dat_hang      0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6601 entries, 0 to 6600
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 6601 non-null   object
 1   customer_id                        6601 non-null   object
 2   master_id                          6451 non-null   object
 3   country_id                         6293 non-null   object
 4   summary_grand_total                6601 non-null   float64
 5   summary_discount_money             6601 non-null   float64
 6   summary_xto_money                  6601 non-null   float64
 7   summary_ship_fee_phi_giao_hang     6601 non-null   float64
 8   to_user_location_province_id       6573 non-null   object
 9   to_user_relationship_id            6356 non-null   object
 10  to_user_occasion_id                6424 non-null   object
 11  to_user_relative_id                5862 non-null   object
 12  to_user_date_ngay_giao_hang        6601 non-null   object
 13  create_info_created_ngay_dat_hang  6601 non-null   object
dtypes: float64(4), object(10)
memory usage: 722.1+ KB

In [4]:
for column in df.columns.to_list():
    if column == 'summary_xto_money':
        df.loc[df[column] == 0, column] = df.loc[df[column] == 0, 'summary_grand_total'] * 0.11

In [5]:
df.head()

,id,customer_id,master_id,country_id,summary_grand_total,summary_discount_money,summary_xto_money,summary_ship_fee_phi_giao_hang,to_user_location_province_id,to_user_relationship_id,to_user_occasion_id,to_user_relative_id,to_user_date_ngay_giao_hang,create_info_created_ngay_dat_hang
0,5c2ca5fd819a4edc2e65eb36,5a5ea602652fe8de52ecb5cf,6066c157066c9a03055f2b10,MO,150000.0,0.0,16500.0,0.0,5016fd6b7f8b9ac842000000,62374aa42511770c643d9a3e,62b445e29612dcb691028846,62bc900756bcb11219006029,2019-01-09T02:00:00.000Z,2019-01-02T11:52:29.714Z
1,5c2f17cc819a4eb96065eb26,5c2f17cc819a4eb96065eb25,6066c157066c9a03055f2b10,VN,1350000.0,0.0,148500.0,0.0,5016fd6b7f8b9ac842000000,62374c93d092b077820bd62f,0,62bc701a56bcb11219005312,2019-01-05T00:00:00.000Z,2019-01-04T08:22:36.831Z
2,5c2c9162819a4e681965eb4f,5bf60ee0819a4e76518c6393,6066c157066c9a03055f2b10,VN,500000.0,0.0,55000.0,0.0,5016fd6b7f8b9ac842000000,62374af9d1578b0a925e404a,62374e382511770c643d9a5a,62bc730756bcb11219005467,2019-01-01T03:00:00.000Z,2019-01-02T10:24:34.952Z
3,5c2f2fad819a4e865065eb39,5a1cf33e652fe8c33d030d6f,6066c157066c9a03055f2b10,US,800000.0,0.0,88000.0,0.0,5016fd6b7f8b9ac842000000,62b43ee94a645a789f05dac2,62b44615e7faf931dd003dd6,62bc99f556bcb112190063f8,2019-01-07T02:00:00.000Z,2019-01-04T10:04:29.107Z
4,5c35b574819a4e314f76c332,597f4d5c652fe882468b590b,6066c157066c9a03055f2b10,IL,500000.0,0.0,55000.0,0.0,5016fd6b7f8b9ac842000000,62b43ee94a645a789f05dac2,0,62bca8b956bcb11219006a36,2019-01-10T02:00:00.000Z,2019-01-09T08:48:52.720Z

In [6]:
a = sum(df.summary_xto_money) / sum(df.summary_grand_total)
a

0.12680976420668155

In [7]:
df.isnull().sum()

id                                     0
customer_id                            0
master_id                            150
country_id                           308
summary_grand_total                    0
summary_discount_money                 0
summary_xto_money                      0
summary_ship_fee_phi_giao_hang         0
to_user_location_province_id          28
to_user_relationship_id              245
to_user_occasion_id                  177
to_user_relative_id                  739
to_user_date_ngay_giao_hang            0
create_info_created_ngay_dat_hang      0
dtype: int64

In [8]:
for i in df.columns.to_list():
    df[i].fillna('Undefined',inplace=True)

In [9]:
df.isnull().sum()

id                                   0
customer_id                          0
master_id                            0
country_id                           0
summary_grand_total                  0
summary_discount_money               0
summary_xto_money                    0
summary_ship_fee_phi_giao_hang       0
to_user_location_province_id         0
to_user_relationship_id              0
to_user_occasion_id                  0
to_user_relative_id                  0
to_user_date_ngay_giao_hang          0
create_info_created_ngay_dat_hang    0
dtype: int64

In [10]:
df.to_csv('bills.csv')